<div class="shows">
  {{#each this}}
  <section class="show rounded m-3 p-3">
    <div class="meta">
      Date added: {{format_date created_at}}
    </div>
    <div class="text">
      {{shows_text}}
    </div>
  </section>
  {{/each}}
</div>