<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Watch This!</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Watch This!</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      <div id="welcome-banner">
        <h1>Watch This!</h1>
        <p>We're living in an age of virtually unlimited entertainment options, and keeping up with it all can be a little overwhelming.</p>
        <p>That's why we created Watch This!.</p>
        <p>With customizable watchlists, you can track and organize all the TV shows and movies that you'll <strong>eventually</strong> get around to watching.</p>

      </div>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>