<section>
  <h2>Welcome, {{{ username }}} !</h2>
  <h3>Create New Watchlist</h3>

  <form class="new-watchlist-form">
    <div>
      <label for="watchlist-title">Title</label>
      <input type="text" id="watchlist-title" name="watchlist-title" />
    </div>
    {{!-- <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div> --}}
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if WatchList.length}}
<section>
  <h2>Your Watchlists</h2>
  <ol>
    {{#each WatchLists as |watchlist|}}
    <li>
      {{> WatchList-info post}}
      <a href="/dashboard/edit/{{watchlist.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-watchlist.js"></script>