<div id="welcome-banner" class="jumbotron">
  <h1 class="display-4">Watch This!</h1>
  <p class="lead">We're living in an age of virtually unlimited entertainment options, and keeping up with it all can be a little overwhelming.</p>
  <hr class="my-4 line">
  <p>With customizable watchlists, you can track and organize all the TV shows and movies that you'll <strong>eventually</strong> get around to watching.</p>
</div>

<ol class="watchlist-list">
  {{#each watchlists as |watchlist|}}
  <li class="watchlist-list-item">
    {{> watchList-info watchlist }}
  </li>
  {{/each}}
</ol>