{{> watchList-info watchlist}}

{{#if loggedIn}}
<form class="shows-form">
  <div>
    <textarea name="shows-body"></textarea>
  </div>

  <div>
    <button type="submit">add show</button>
  </div>
</form>
{{/if}}

{{> shows watchlist.shows}}

{{#if loggedIn}}
<script src="/javascript/shows.js"></script>
{{/if}}