{{> watchList-info watchlist}}

{{#if loggedIn}}
<form class="reviews-form">
  <div>
    <textarea name="reviews-body"></textarea>
  </div>

  <div>
    <button type="submit">add review</button>
  </div>
</form>
{{/if}}

{{> reviews watchlist.reviews}}

{{#if loggedIn}}
<script src="/javascript/reviews.js"></script>
{{/if}}